.history {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &_block {
    aspect-ratio: 1/1;
    max-width: 290px;
    width: 100%;
    padding: 16px 20px;
    text-wrap: balance;
    text-align: left;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    scroll-snap-align: start;
  }

  &_btn {
    width: 100%;
  }

  &_title {
    font-weight: 500;
    line-height: 25px;
  }
}

.blocks {
  display: flex;
  gap: 32px;
  scroll-snap-type: x mandatory;
}

@media (max-width: 1240px) {
  .history {
    &_block {
      flex-shrink: 0;
    }
  }

  .blocks {
    scrollbar-width: none;
    overflow-x: scroll;
  }
}

@media (max-width: 375px) {
  .history {
    gap: 32px;
    
    &_block {
      max-width: 165px;
      padding: 12px 16px;
      gap: 12px;
    }

    &_title {
      font-size: 12px;
      line-height: 17px;
      font-weight: 500;
    }

    &_btn {
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      height: 33px;
      border-radius: 8px;
      line-height: 17px;
      font-weight: 400;
      padding: 8px 22px;
    }
  }

  .title {
    font-size: 24px;
    line-height: 30px;
  }

  .blocks {
    gap: 12px;
  }
}