.blocks {
  display: flex;
  gap: 32px;
  scroll-snap-type: x mandatory;
}

.videoReviews {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &_block {
    aspect-ratio: 1/1;
    max-width: 290px;
    width: 100%;
    scroll-snap-align: start;
  }

  &_btn {
    margin-left: 15px;
    box-shadow: 0 0 30px 10px #A5C4FF4D;
  }
}

@media (max-width: 1240px) {
  .blocks {
    scrollbar-width: none;
    overflow-x: scroll;
  }

  .videoReviews {
    &_block {
      flex-shrink: 0;
    }
  }
}

@media (max-width: 375px) {
  .videoReviews {
    gap: 32px;
    
    &_block {
      border-radius: 24px;
      max-width: 165px;
      gap: 12px;
    }

    &_title {
      font-size: 12px;
      line-height: 17px;
      font-weight: 500;
    }

    &_btn {
      margin: 0;
      width: 100%;
    }
  }

  .title {
    font-size: 24px;
    line-height: 30px;
  }

  .blocks {
    gap: 12px;
  }
}