.container {
  border-radius: 32px;
  max-width: 290px;
  width: 100%;
  aspect-ratio: 1;
  background: #c7bcbc;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.active_sign,
.stop_sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.small {
  display: none;
}

.placeholderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 375px) {
  .container {
    width: 166px;
    height: 181px;
  }
  .small {
    display: block;
  }
  .big {
    display: none;
  } 
  
  .play {
    width: 50px;
    height: 50px;
  }
  
  .stop {
    width: 50px;
    height: 50px;
  }
}

@keyframes show {
  0% {
  }
  80% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
