.card {
  border-radius: 24px;
  // width: 186px;
  // height: 620px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  overflow: hidden;
  &__img {
    width: 100%;
    aspect-ratio: 1;
  }
  &__inf {
    margin-top: 18px;
    padding: 0 24px 24px 24px;
    &_top {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
  &__box {
    &_title {
      font-weight: 400;
      font-size: 16px;
      color: #3d3d3d;
    }
    &_value {
      font-weight: 500;
      font-size: 20px;
      color: #000;
      margin-top: 8px;
    }
  }
}

.media_container {
  margin-top: 12px;
  display: flex;
  gap: 14px;
  img {
    width: 28px;
    height: 28px;
  }
}

.line {
  width: 100%;
  height: 2px;
  margin: 14px 0;
  background: #cbcbcb;
}

@media (max-width: 920px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .line {
    margin: 11px 0;
  }
  .card {
    &__inf {
      margin-top: 8px;
      padding: 0 11px 20px 11px;
      &_top {
        gap: 11px;
      }
    }
    &__box {
      &_title {
        font-weight: 400;
        font-size: 9px;
        line-height: 100%;
      }
      &_value {
        font-weight: 500;
        font-size: 10px;
        margin-top: 3px;
        line-height: 100%;
      }
    }
  }
  .media_container {
    margin-top: 5px;
    gap: 6.66px;
    img {
      width: 13px;
      height: 13px;
    }
  }
}
