.docModal {
  padding: 32px 42px;

  &__header {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &_title {
      color: var(--dark_blue-color)
    }
  }

  &__btn {
    margin-top: 25px;
    display: flex;
    justify-self: flex-end;
    color: var(--dark_blue-color);
    text-decoration: underline;
  }

  &__info {
    display: flex;
    align-items: start;
    gap: 32px;
  }

  &__image {
    object-fit: contain;
  }

  &__text {
    color: var(--gray-secondary-color);
    max-width: 680px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    overflow: hidden;
  }
}

.divider {
  margin: 32px 0;
  width: 100%;
  height: 0.0625em;
  box-sizing: border-box;
  background-color: var(--divider-color);
}

.formModal {
  width: 100%;

  &__header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_title {
      color: var(--dark_blue-color);
    }

    &_btn {
      background-color: transparent;
      box-shadow: none;

      &:hover {
        transform: none;
      }
    }
  }

  &__inputs {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__agreements {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_policy {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &_text {
      font-size: 12px;
      line-height: 17px;
      font-weight: 300;
      text-wrap: pretty;
    }

    &_notifications {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  &__btn {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .docModal {
    padding: 32px;
    
    &__header {
      margin-bottom: 28px;
    }
    
    &__text {
      -webkit-line-clamp: 12;     
    }
  }
}

@media (max-width: 600px) {
  .formModal {
    padding-bottom: 42px;
  }
  
  .docModal {
    position: relative;
    top: 0;
    height: inherit;
    &__info {
      flex-direction: column;
      align-items: center;
    }
    
    &__text {
      -webkit-line-clamp: 10;     
      -webkit-box-orient: vertical; 
      overflow: hidden;
    }
    
    &__image {
      max-width: 295px;
    }
  }
}

@media (max-width: 375px) {
  .formModal {

    &__header {
      margin-bottom: 20px;
    }

    &__agreements {
      margin-bottom: 28px;

      &_text {
        font-size: 8px;
        line-height: 11px;
      }
    }
  }
}